---
// Click button, get confetti!
// Styled by Tailwind :)
---

<button
	class="appearance-none py-2 px-4 bg-gradient-to-r from-yellow-400 to-amber-500 text-gray-900 font-bold rounded-lg shadow-md hover:from-yellow-500 hover:to-amber-600 focus:outline-none focus:ring-2 focus:ring-red-600 focus:ring-opacity-75"
>
	<slot />
</button>

<script>
	import confetti from 'canvas-confetti';
	const button = document.body.querySelector('button');

	if (button) {
		button.addEventListener('click', () => confetti());
	}
</script>
